<div class="header">
  <h3 class="text-muted">Couchbase Lite @ QCon</h3>
</div>

<div class="jumbotron">
  <h1>Hack Challenge</h1>
  <p class="lead">Build a simple iOS or Android app, before the end of QCon,
  using Couchbase’s mobile NoSQL database.</p>
  <% if errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <ul class="no-bullet">
        <% errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if token %>
    <p>You signed up with <%= email %></p>
    <p>Your token is <%= token %></p>
    <form action="/signout" method="post">
      <p>
      <input class="btn btn-lg btn-success" role="button" type="submit" value="Sign out" />
      </p>
    </form>

  <% else %>
    <form action="/signup" method="post">
      <p>
      <input id="signup_email" name="signup[email]" type="text" placeholder="me@example.com" />
      </p>

      <p>
      <input class="btn btn-lg btn-success" role="button" type="submit" value="Sign up now" />
      </p>
    </form>
  <% end %>
</div>

<div class="description">
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
  eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
  voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
  kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
  gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</div>

<div class="footer">
  <p>© Couchbase 2014</p>
</div>
