<!DOCTYPE html>
<html lang="en">
  <head>
    <%= bootstrap_assets %>
    <link rel="stylesheet" type="text/css"href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/pygments.css" />
    <title>Couchbase Lite @ QCon - Hack Challenge</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

