<!DOCTYPE html>
<html lang="en">
  <head>
    <%= bootstrap_assets %>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>QCon Couchbase Hack Challenge</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

