<!DOCTYPE html>
<html lang="en">
  <head>
    <%= bootstrap_assets %>
    <link rel="stylesheet" type="text/css"href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/pygments.css">
    <title>Couchbase Lite @ QCon - Hack Challenge</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <% if production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-48608769-1', 'couchbase-hack.net');
        ga('send', 'pageview');

      </script>
    <% end %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

